body{
    background: #ed9444;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 9.5vw;
    height: 100vh;
    box-shadow: 0 0 20px black;
    background: white;
}

div#content{
    width: 90vw;
    margin-left: 9.5vw;
}

.logo{
    margin-top: 10vh;
    width: 8vw;
    margin-left: 0.75vw;

}

nav>ol{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}

.menu-item{
    position: relative;
    padding: .75rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;

}

.menu-item:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    box-shadow: 0 0 0 0 #1e1e1e;
    transition: .2s all linear;
}

.menu-item:nth-child(1):after{
    background: Crimson;

}

.menu-item:nth-child(2):after{
    background: Goldenrod;
}

.menu-item:nth-child(3):after{
    background: DodgerBlue;
}

.menu-item:nth-child(4):after{
    background: BlueViolet;
}

.menu-item:nth-child(5):after{
    background: ForestGreen;
}

.menu-item:hover:after{
    width: 100%;
}

.menu-item:hover{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.menu-item>a{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat ExtraBold' , sans-serif !important ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

