body{
    background: #ed9444;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 9.5vw;
    height: 100vh;
    box-shadow: 0 0 20px black;
    background: white;
}

div#content{
    margin-left: 9.5vw;
    overflow: hidden;
}

div#news{
    margin-left: 50px;
    width: 45vw;
    float: left;
}

div#shownGames{
    width: 45vw;
    float: right;
    margin-right: 20px;
    position: center;
}

.logo{
    margin-top: 10vh;
    width: 8vw;
    margin-left: 0.75vw;

}

nav>ol{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}

.menu-item{
    position: relative;
    padding: .75rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;

}

.menu-item:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: -1;
    box-shadow: 0 0 0 0 #1e1e1e;
    transition: .2s all linear;
}

.menu-item:nth-child(1):after{
    background: Crimson;

}

.menu-item:nth-child(2):after{
    background: Goldenrod;
}

.menu-item:nth-child(3):after{
    background: DodgerBlue;
}

.menu-item:nth-child(4):after{
    background: BlueViolet;
}

.menu-item:nth-child(5):after{
    background: ForestGreen;
}

.menu-item:hover:after{
    width: 100%;
}

.menu-item:hover{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


.menu-item>a{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat ExtraBold' , sans-serif !important ;
}

.title{
    font-family: 'Montserrat ExtraBold' , sans-serif !important ;
    font-size: 26px;
    margin-left: 30px;

}
.frame {
    float: left;
    border: 1px solid transparent;
    box-shadow: 3px 3px 6px 0  rgba(0,0,0,0.5);
    margin-left: 30px;
    text-align: center;
}

.frame:hover{
    transform: scale(1.1);
}

.left{
    width: 49%;
    position: relative;
    display: inline-block;
}
.left img{
    width: 100%;
}
.right {
    width: 49%;
    position: relative;
    display: inline-block;
    top: -250px;
}
.card-title{
    text-align: center;
    font-family: monospace;
    font-size: 36px;
}
.card-text{
     font-family: monospace;
     font-size: 24px;
 }
.card-price{
    text-align: left;
    font-family: monospace;
    font-size: 18px;
}

.left-front{
    width: 52%!important;
    position: relative;
    display: inline-block;
}

.right-front {
    width: 34%!important;
    position: relative;
    display: inline-block;

}