<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/menuStyle.css">
    <title> About us</title>
</head>
<body>
<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="menu-item"><a href="/games">Currently promoted games</a></li>
        <li class="menu-item"><a href="">News</a></li>
        <li class="menu-item"><a href="/contact">Contact</a></li>
    </ol>
</nav>
<div id="content">
    <h1>Om vores virksomhed</h1>
    <p>
        Spilbræt er et brætspil distributionsselskab, der distribuerer spil i Danmark og Sverige. <br>
        Det har eksisteret siden 2004. Kataloget omfatter mere end 1500 titler, herunder den velkendte Catan,<br>
        for hvilken de er eksklusiv distributør. <br>
        Spillbræt distribuerer spil til fysiske butikker (fx Bog & Ide og Arnold Busck) samt online butikker.<br>
        Spillbræt er ejet af to større virksomheder, Lautapelit i Finland og Vennerød i Norge.<br>
        <br>
        Vi bruger et eksternt firma til lagerstyring, og de tager vare på lageret, men sender også spil til kunderne.</p>
    <img src="https://i.etsystatic.com/10919371/r/il/69cca5/1583053398/il_570xN.1583053398_pztt.jpg"
         alt="dices" style="width:400px;height:250px;">
</div>

</body>
</html>