<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${game.title}"></title>
    <link rel="stylesheet" href="/menuStyle.css">
</head>
<body>

<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="menu-item"><a href="/games">Currently promoted games</a></li>
        <li class="menu-item"><a href="/news">News</a></li>
        <li class="menu-item"><a href="/contact">Contact</a></li>
    </ol>
</nav>

<div id="content">
   <div class="left">
       <img th:src="${game.image}" >
   </div>
    <div class="right">
        <p class="card-title" th:text="${game.title}"></p>
        <p class="card-text" th:text="'Description: ' + ${game.description}" ></p>
        <p class="card-price" th:text="'Pris: ' + ${game.price} + 'DKK'" ></p>
        <iframe width="560" height="315" th:src="${game.link}" frameborder="0" allow="accelerometer; autoplay;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>

</div>


</body>
</html>