<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/menuStyle.css">
    <title></title>
</head>
<body>
<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="#0">Home</a></li>
        <li class="menu-item"><a href="#0">About</a></li>
        <li class="menu-item">
            <a href="#0">Widgets</a>

        </li>
        <li class="menu-item">
            <a href="#0">Kabobs</a>

        </li>
        <li class="menu-item"><a href="#0">Contact</a></li>
    </ol>
</nav>
<div id="content">
    <p>Text</p>
</div>



</body>
</html>