<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spilbraet DK</title>
    <link rel="stylesheet" href="/menuStyle.css">
</head>
<body>

<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Hjem</a></li>
        <li class="menu-item"><a href="/about">Om os</a></li>
        <li class="menu-item"><a href="/games">Årets Spil 2018</a></li>
        <li class="menu-item"><a href="/news">Nyheder</a></li>
        <li class="menu-item"><a href="/contact">Kontakt</a></li>
    </ol>
</nav>

<div id="content">
    <h1> 🤩 Giv dig selv en pause! Spille brætspil! 🤩</h1>
   <!-- <div id="news" class="left-front" th:each="newsId: ${news}" th:if="${newsIdStat.index}==1">
        <p th:text="${news(index).title}"></p> -->
    <p> Nyheder</p>

    <div th:each="news: ${news}">
        <div class=" newsContainer">
            <p th:text="${news.title}"></p>
            <p th:text="${news.description}"></p>
            <img th:if="${news.image}!=''" th:src="${news.image}" style=" width:400px;height:200px;">
            <a th:href="@{'updateNews?id='+ ${news.newsId}}" class="button" style="float:right;">Update</a>
        </div>
    </div>



    </div>
    <div class="right-front" id="shownGames">
        <h2 class="subtitle">Nyeste spil</h2>
        <h4>Gold fever</h4>
        <img src="https://www.uplay.it/www.uplay.it_Gold_Fever--400x400.png" alt="game image" style="width: 250px;height: 250px;">
        <h4>Magic Maze</h4>
        <img src="https://images-na.ssl-images-amazon.com/images/I/71LP5b5JYqL._SY355_.jpg" alt="game image" style="width:250px;height:250px;">
        <br><a href="/games">Check out our games here</a>
    </div>
</div>



</body>
</html>