<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>News</title>
    <link rel="stylesheet" href="/menuStyle.css">
</head>
<body>

<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="menu-item"><a href="/games">Currently promoted games</a></li>
        <li class="menu-item"><a href="/news">News</a></li>
        <li class="menu-item"><a href="/contact">Contact</a></li>
    </ol>
</nav>

<div id="content">
    <p> Our recent news</p>

    <div th:each="news: ${news}">
        <div class=" newsContainer">
        <p th:text="${news.title}"></p>
        <p th:text="${news.description}"></p>
        <img th:if="${news.image}!=''" th:src="${news.image}" style=" width:400px;height:200px;">
        <a th:href="@{'updateNews?id='+ ${news.newsId}}" class="button" style="float:right;">Update</a>
        </div>
    </div>
</div>


</body>
</html>