<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>News</title>
    <link rel="stylesheet" href="/menuStyle.css">
</head>
<body>

<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Hjem</a></li>
        <li class="menu-item"><a href="/about">Om os</a></li>
        <li class="menu-item"><a href="/games">Årets Spil 2018</a></li>
        <li class="menu-item"><a href="/news">Nyheder</a></li>
        <li class="menu-item"><a href="/contact">Kontakt</a></li>
    </ol>
</nav>

<div id="content">
    <h2>Opdatering</h2>

    <div th:each="news: ${news}" class="newsContainer">
        <h3 th:text="${news.title}"></h3>
        <p th:text="${news.description}"></p>
        <img th:if="${news.image}!=''" th:src="${news.image}" style=" width:400px;height:200px;">
        <a th:href="@{'updateNews?id='+ ${news.newsId}}" class="button" style="float:right;">Opdatering</a>
    </div>
</div>


</body>
</html>