<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update News</title>
    <link rel="stylesheet" href="menuStyle.css"/>
</head>
<body>
<nav class="menu">
    <img class="logo" src="http://static1.squarespace.com/static/546b4e9de4b0b367ee9ed3e4/t/5ac737776d2a7394c9527e5e/1522763198118/?format=300w">
    <ol>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="menu-item"><a href="/games">Currently promoted games</a></li>
        <li class="menu-item"><a href="/news">News</a></li>
        <li class="menu-item"><a href="/contact">Contact</a></li>
    </ol>
</nav>

<div id="content">
    <h1>Update</h1>
    <form  action = "/updateNews" method="post" >
        <input type="hidden" th:value="${news.newsId}" name="newsId"/>
        <p>Title: <input type="text" th:value="${news.title}" name="title"/></p>
        <p>Description: <input type="text" th:value="${news.description}" name="description"/></p>
        <p>Image link: <input type="text" th:value="${news.image}" name="image"></p>

        <input type="submit" value="Update" class="button"/>
    </form>
</div>


</body>
</html>

</body>
</html>